*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

nav{
	border-bottom: 1px solid #D8D8D8;
	ul{
		display: flex;
		li{	
			list-style: none;
			color: #848484;
			img{
				width: 40px;
				margin: 10px 30px 0;
				border-radius: 100%;

			}
			#buscar{
				background-color: transparent;
				border: none;
				padding: 0 10px;
				width: 650px;
			}
			.fa-search{
				padding: 0 10px;
			}
		}
		.bg_grey{
			background-color: #D8D8D8;
			padding: 15px;
			border-radius: 5px;
			margin: 10px 20px;
		}
		span{
			border: 1px solid grey;
			margin: 5px;
			height: 50px;
		}
		.fa-bars, .fa-commenting{
			margin: 15px 10px;
			font-size: 2em;
		}
	}
}

.navigator{
	ul{
		display: flex;
		flex-wrap: wrap;
	}
}
.contents{
	text-align:center;
	width: 100%;
	height: 500vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	.card_img{
		text-align: left;
		width: 320px;
		display: inline-block;
		img{
			border-radius: 20px;
			width: 300px;
			padding: 10px;
			margin: 0;
		}
		.usuario, h4, .hashtag{
			float: left;
			margin: 10px;
		}
		.usuario{
			@include usuario;
		}
	}
	.card_img:hover{
		background-color: rgba(0, 0, 0, 0.1);
	}

}
.modal{
	margin: 0 auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #d8d8d8;
	z-index: 200;
	overflow: scroll;
	text-align: center;
	.fa-times-circle-o{
		position: absolute;
		z-index: 300;
		right: 30px;
		top: 30px;
		color: #BDBDBD;
	}
	.fa-times-circle-o:hover{
		color: #585858;
		cursor: pointer;		
	}
	
	.modal-box{
		text-align: left;
		background-color: white;
		width: 50%;
		border-radius: 10px;
		margin: 100px auto;
		padding: 0 20px;
		.save{
			@include boton;
			position: relative;
			top: 10px;
			right: 30px;
			float: right;
		}
		.icons{
			color: #BDBDBD;
			font-size: 1.5em;
			i{
				margin: 10px;
			}
		}
		.contenido{
		img{
			margin: 20px 0 20px 20px;;
		}
		.user{
			display: flex;
			align-items: center;
			.usuario{
				@include usuario;
				font-size: 2.9em;
				width: 70px;
			}
			.usuario, h4, .hashtag{
				margin: 10px;
			}
		}
		.description{
			padding: 10px 30px 30px 0;
		}
		.read{
			background-color: #D8D8D8;
			color: grey;
			border: none;
			font-size: 1.4em;
			padding: 5px;
			border-radius: 5px;
			margin-left: 496px;
			margin-top: -10px;
		}}
		
	}
}